# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environments
.venv/
env/
venv/

# VSCode settings
.vscode/

# OS files
.DS_Store

# Face recognizer data
embeddings/
uploads/
reference_photos/
*.jpg
*.jpeg
*.png

# Logs
*.log

# Environment variables
.env